/* Carousel */
#homepage-carousel-item {
    height: 602px;
}

#homepage-carousel-item-a {
    height: 100%;
}

#homepage-carousel-item-img {
    height: 100%;
}

@media screen and (max-width: 767px) {
    #homepage-carousel-item {
        height: 301px;
    }
}

/* Latest recipes */
.trending-recipes-box {
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px;
    margin-bottom: 3rem;
    background-color: #ffffff;
}

.trending-recipes-box .product-box-layout1 {
    margin-bottom: 2rem;
}

.trending-recipes-box-a{
    width: 100%;
    height: 500px;
}

.trending-recipes-box-img{
    width: 100%;
    height: 100%;
}

.trending-recipes-box-content-container{    
    text-align: left !important;
}

/*Right side */
.right-side-top-5-recipes, .right-side-top-5-category, .right-side-top-5-tags {    
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px;
}

