# Created by https://www.toptal.com/developers/gitignore/api/netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/


#config cua inteliji 
out/
.idea/
build.xml
.DS_Store
BakeryRecipe.iml

#config trong team
/BakeryRecipe/src/java/bakeryRecipe/utils/DBConnection.java

.nb-gradle/


# End of https://www.toptal.com/developers/gitignore/api/netbeans
